* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
    font-size: 13px;
    font-weight: 400;
}

html {
    background-color: gray;
}

body {
    width: 375px;
    margin: 20px auto;
    background-color: #fff;
}

/* typography */
p {
    margin: 0;
}

.bold {
    font-weight: 700;
}

.small-text {
    font-size: 12px;
}

/* images */
.logo-img {
    width: 127px;
}

.avatar {
    width: 34px;
    height: 34px;
    border-radius: 50px;
}

.icon {
    width: 26px;
}

.icon:hover {
    opacity: 0.5;
}

/* wrapper */
.container {
    width: 343px;
    margin: 0 auto;
}

/* header */
header {
    height: 67px;
}

.header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* post content */

/* user info */
.user-info-section {
    padding: 10px 0;
    border-top: 1px solid #C6C6C6;
}

.user-info-div {
    display: flex;
}

.user-info-text {
    margin-left: 7px;
}

/* post image */
.post-img {
    width: 100%;
    display: block;
}

/* post body */
.body-div {
    padding: 12px 0 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.icons-div {
    display: flex;
    gap: 12px;
}

.likes-div, 
.caption-div {
    padding-left: 4px;
}